#root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 30px 10vw;
    border-bottom: 1px solid gray;

    img {
        height: 60px;
    }

    nav ul {
        display: flex;
        gap: 10px;
        list-style-type: none;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: black;
        }

        .active {
            font-weight: bold;
        }
        
    }

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10vw;
    justify-content: center;

    #loginPage, #registrationPage, #addArticlePage {
        width: 350px;

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            padding: 15px;
            border: 1px solid black;
            gap: 15px;

            h1 {
                margin: 0px;
            }

            label {
                display: flex;
                flex-direction: column;

                span {
                    color: rgb(204, 68, 68);
                }
            }

            button, input {
                width: 200px;
                box-sizing: border-box;
            }

            button {
                height: 34px;
                background-color: white;
                border: 1px solid black;
            }
            button:hover {
                height: 34px;
                background-color: rgb(0, 0, 0);
                color: white;
                cursor: pointer;
            }

            #loginFailed {
                color: rgb(204, 68, 68);
                font-weight: bold;
            }
        }
    }

    #articles {
        display: grid;
        grid-template: auto / repeat(3, 1fr);
        gap: 15px;

        .articleCard {
            background-color: rgb(219, 219, 219);
            padding: 25px;
        }
        .articleCard:hover {
            background-color: rgb(192, 192, 192);
        }
    }
}

footer {
    display: flex;
    padding: 30px 10vw;
    justify-content: space-between;
    border-top: 1px solid gray;
    align-items: center;

    img {
        height: 70px;
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;

        a {
            text-decoration: none;
            color: black;
        }
    }
}